.action-panel {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  width: calc(100% - 40px - 1rem);
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #68473185;
  border-radius: var(--border-radius, 1rem) var(--border-radius, 1rem) 0 0;
}

.action-panel button {
  width: 100%;
}